<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"/>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"></script>
    <title></title>
</head>
<body>
<th:block th:fragment="sign-in">

    <div th:fragment="messages" class="container-fluid">
        <div th:if="${message != null}"
             th:with="parts=${#strings.arraySplit(message, '|')}"
             th:attr="class=${'alert alert-dismissible alert-' + parts[0]}"
             role="alert">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <div th:text="${parts[1]}"></div>
        </div>
    </div>

    <form method="post" th:action="@{/signin}" class="col-8">
        <div class="form-group">
            <label for="email">Username</label>
            <input id="email" class="form-control" name="username"/>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input id="password" class="form-control" type="password" name="password" />
        </div>

        <div class="form-group">
            <input id="remember-me" type="checkbox" name="remember-me" />
            <label for="remember-me">Remember Me</label>
        </div>

        <button class="btn btn-primary" type="submit"><i class="fas fa-sign-in-alt"></i> Sign In</button>
    </form>
</th:block>
</body>
</html>