<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"/>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"></script>
    <title></title>
</head>
<body>

<!-- main-table -->
<th:block th:fragment="main-table">
    <div class="row">
        <div class="col">
            <table class="table table-striped">
                <tr>
                    <th>Username</th>
                    <th>Full Name</th>
                    <th>Email Address</th>
                    <th>Department</th>
                    <th>Phone Number</th>
                    <th>&nbsp;</th>
                </tr>
                <tr th:each="user : ${users}" th:class="${user.active} ? '' : 'text-secondary'">
                    <!---->
                    <td th:text="${user.username}"></td>
                    <td th:text="${user.name}"></td>
                    <td th:text="${user.emailAddress}"></td>
                    <td th:text="${user.department} ? ${user.department.name} : 'n/a'"></td>
                    <td th:text="${user.phoneNumber}"></td>
                    <td class="text-end">
                        <nobr>
                            <a th:href="@{/settings/users/edit-groups/(id=${user.id})}">
                                <i class="bi bi-people" title="Edit user groups"></i></a>
                            &nbsp;
                            <a th:href="@{/settings/users/edit/(id=${user.id})}">
                                <i class="bi bi-pencil-square" title="Edit user"></i></a>
                            &nbsp;
                            <a th:href="@{/settings/users/delete/(id=${user.id})}">
                                <i class="bi bi-trash3" title="Delete user"></i>
                            </a>
                        </nobr>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div class="row pt-3">
        <div class="col">
            <a class="btn btn-primary" th:href="${addLink}" role="button">Add New User</a>
        </div>
    </div>
</th:block>


<!-- add-user -->
<form th:fragment="add-user" class="row g-3" method="post">
    <div class="col-md-6">
        <label for="firstName" class="form-label">First name</label>
        <input type="text" class="form-control" th:field="${userDto.firstName}">
        <p class="text-danger" th:errors="${userDto.firstName}"></p>
    </div>
    <div class="col-md-6">
        <label for="lastName" class="form-label">Last name</label>
        <input type="text" class="form-control" th:field="${userDto.lastName}">
        <p class="text-danger" th:errors="${userDto.lastName}"></p>
    </div>
    <div class="col-md-6">
        <label for="department" class="form-label">Department</label>
        <select class="form-select" th:field="${userDto.department}">
            <option th:each="department : ${departments}"
                    th:value="${department.id}"
                    th:text="${department.name}"
            ></option>
        </select>
        <p class="text-danger" th:errors="${userDto.department}"></p>
    </div>
    <div class="col-md-6">
        <label for="phoneNumber" class="form-label">Phone number</label>
        <input type="text" class="form-control" th:field="${userDto.phoneNumber}">
        <p class="text-danger" th:errors="${userDto.phoneNumber}"></p>
    </div>
    <div class="col-md-6">
        <label for="username" class="form-label">User name *</label>
        <input type="text" class="form-control" th:field="${userDto.username}">
        <p class="text-danger" th:errors="${userDto.username}"></p>
    </div>
    <div class="col-md-6">
        <label for="emailAddress" class="form-label">Email address *</label>
        <input type="text" class="form-control" th:field="${userDto.emailAddress}">
        <p class="text-danger" th:errors="${userDto.emailAddress}"></p>
    </div>
    <div class="col-12">
        <div class="form-check">
            <input class="form-check-input" type="checkbox" th:field="${userDto.active}">
            <label class="form-check-label" for="active">
                User account is active
            </label>
            <p class="text-danger" th:errors="${userDto.active}"></p>
        </div>
    </div>
    <div class="col-md-6">
        <label for="password" class="form-label">Password *</label>
        <input type="password" class="form-control" th:field="${userDto.password}">
        <p class="text-danger" th:errors="${userDto.password}"></p>
    </div>
    <div class="col-md-6">
        <label for="verifyPassword" class="form-label">Confirm password *</label>
        <input type="password" class="form-control" th:field="${userDto.verifyPassword}">
        <p class="text-danger" th:errors="${userDto.verifyPassword}"></p>
    </div>

    <div class="col-12">
        <button type="submit" class="btn btn-primary">Save user</button>
    </div>
</form>


<!-- edit-user -->
<form th:fragment="edit-user" class="row g-3" method="post">
    <div class="col-md-6">
        <label for="firstName" class="form-label">First name</label>
        <input type="text" class="form-control" th:field="${user.firstName}">
        <p class="text-danger" th:errors="${user.firstName}"></p>
    </div>
    <div class="col-md-6">
        <label for="lastName" class="form-label">Last name</label>
        <input type="text" class="form-control" th:field="${user.lastName}">
        <p class="text-danger" th:errors="${user.lastName}"></p>
    </div>
    <div class="col-md-6">
        <label for="department" class="form-label">Department</label>
        <select class="form-select" th:field="${user.department}">
            <option th:each="department : ${departments}"
                    th:value="${department.id}"
                    th:text="${department.name}"
            ></option>
        </select>
        <p class="text-danger" th:errors="${user.department}"></p>
    </div>
    <div class="col-md-6">
        <label for="phoneNumber" class="form-label">Phone number</label>
        <input type="text" class="form-control" th:field="${user.phoneNumber}">
        <p class="text-danger" th:errors="${user.phoneNumber}"></p>
    </div>
    <div class="col-md-6">
        <label for="username" class="form-label">User name *</label>
        <input type="text" class="form-control" th:field="${user.username}">
        <p class="text-danger" th:errors="${user.username}"></p>
    </div>
    <div class="col-md-6">
        <label for="emailAddress" class="form-label">Email address *</label>
        <input type="text" class="form-control" th:field="${user.emailAddress}">
        <p class="text-danger" th:errors="${user.emailAddress}"></p>
    </div>
    <div class="col-6">
        <div class="form-check">
            <input class="form-check-input" type="checkbox" th:field="${user.active}">
            <label class="form-check-label" for="active">
                User account is active
            </label>
            <p class="text-danger" th:errors="${user.active}"></p>
        </div>
    </div>
    <div class="col-6">
        <p>
            Member of:
            <th:block th:each="group : ${user.groups}">
                <span class="fst-italic">
                    <nobr th:text="${group.name} + '; '"></nobr>
                </span>
            </th:block>
            &nbsp;
            <a th:href="@{/settings/users/edit-groups/(id=${userId})}">
                <i class="bi bi-people" title="Edit user groups"></i></a>
        </p>
    </div>
    <div class="col-12">
        <input type="hidden" name="id" th:value="${userId}">
        <button type="submit" class="btn btn-primary">Save user</button>
    </div>
</form>


<!-- delete-user -->
<th:block th:fragment="delete-user">
    <!-- user info table -->
    <div class="row">
        <div class="col">
            <table class="table table-striped">
                <tr>
                    <td>User name</td>
                    <td class="fw-bold" th:text="${user.username}"></td>
                </tr>
                <tr>
                    <td>Full name</td>
                    <td class="fw-bold" th:text="${user.name}"></td>
                </tr>
                <tr>
                    <td>Email address</td>
                    <td class="fw-bold" th:text="${user.emailAddress}"></td>
                </tr>
                <tr>
                    <td>Phone number</td>
                    <td class="fw-bold" th:text="${user.phoneNumber}"></td>
                </tr>
            </table>
        </div>
    </div>
    <!-- prompt for delete -->
    <div class="row">
        <div class="col">
            <form class="row g-3" method="post">
                <input type="hidden" th:field="${user.id}">
                <div class="col-md">
                    <p class="pt-3"> Do you want to delete user
                        <span th:text="${user.username}" class="fw-bold"></span>?
                    </p>
                </div>
                <div class="col-12">
                    <input type="submit" value="Yes, delete user" class="btn btn-danger">
                </div>
            </form>
        </div>
    </div>
</th:block>


<!-- user-edit-groups -->
<th:block th:fragment="user-edit-groups">
    <div class="row">
        <div class="col text-center">
            <h4>
                <span th:text="${user.name}"></span>
                (<span th:text="${user.username}"></span>)
            </h4>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <h5 class="text-center">Member off:</h5>
            <ul class="list-group">
                <li th:each="group : ${user.groups}" class="list-group-item">
                    <span th:text="${group.name}"></span>
                    <a th:href="@{/settings/users/edit-groups-remove/(userId=${user.id}, groupId=${group.id})}"
                       title="Remove group"><i class="bi bi-x-lg text-danger"></i></a>
                </li>
            </ul>
        </div>
        <div class="col-6">
            <h5 class="text-center">Add new group</h5>
            <form class="row g-3" method="post">
                <input type="hidden" th:field="${userGroup.user}">
                <div class="input-group">
                    <select class="form-select" th:field="${userGroup.group}">
                        <option th:each="group : ${groups}"
                                th:value="${group.id}"
                                th:text="${group.name}"
                        ></option>
                    </select>
                    <input type="submit" value="Add group" class="btn btn-primary">
                </div>
            </form>
        </div>
    </div>
</th:block>


</body>
</html>