<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container-fluid">

    <div class="container-fluid">
        <div class="row bg-primary text-white p-2">
            <div class="col">
                <h4>LaunchCode HelpDesk</h4>
            </div>
            <div class="col text-end">
                You are signed as <b>Dan Brown</b>&nbsp;<a href="/signout" class="text-white">Sign Out</a>
            </div>
        </div>
        <div class="row">
            <div class="col-2 pt-2 pb-2 border-end">
                <div class="row">
                    <div class="col bg-light text-center" th:text="${leftMenuTitle}">
                        SomeMenuTitle
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <ul class="nav flex-column">
                            <th:block th:each="menuItem : ${leftMenu}">
                                <li class="nav-item">
                                    <a class="nav-link active" aria-current="page" th:href="${menuItem.url}" th:text="${menuItem.text}">item</a>
                                </li>
                            </th:block>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-10">
                <div class="row pt-2 pb-2">
                    <div class="col">
                        <span th:replace="fragments :: crumbs"></span>
                    </div>
                </div>
                <div class="row pt-2 pb-2 border-top border-bottom">
                    <div class="col">
                        <h3 th:text="${title}"></h3>
                    </div>
                </div>
                <th:block th:each="fragment : ${content}">
                    <div class="row pt-2 pb-2">
                        <div class="col">
                            <p th:replace="${fragment.file} :: ${fragment.fragmentName}"></p>
                        </div>
                    </div>
                </th:block>

            </div>
        </div>
        <div class="row bg-primary text-white p-2">
            <div class="col">
                Footer text
            </div>
            <div class="col text-end">
                Some other footer text
            </div>
        </div>
    </div>

</body>
</html>